<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Paciente</title>
</head>
<body>
    <h2>Login Paciente</h2>
    <form id="loginForm" action="/pacientes/loginpaciente" method="POST">
        <label for="dni">DNI:</label>
        <input type="number" id="dni" name="dni" required>
        <button type="submit">Iniciar sesión</button>
    </form>

    <script src="../js/loginpaciente.js"></script>
</body>
</html>