<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel de Pacientes</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Estilos personalizados */
        .paciente-details {
            display: none;
        }
        .expanded .paciente-details {
            display: block;
        }
        #addPatientForm {
            z-index: 9999; /* Asegura que el formulario esté por encima de otros elementos */
        }
    </style>
</head>
<body class="bg-gray-100 h-screen flex flex-col items-center justify-center">
    <!-- Botón de salida -->
    <button id="logoutBtn" class="absolute top-4 left-4 bg-red-500 text-white px-4 py-2 rounded">Salir</button>

    <!-- Carrusel de Pacientes -->
    <div class="max-w-3xl w-full p-6 bg-white rounded-md shadow-md overflow-hidden">
        <h2 class="text-2xl font-bold mb-4 text-center">Carrusel de Pacientes</h2>
        <!-- Botón para agregar paciente -->
        <button id="showAddPatientFormBtn" class="bg-blue-500 text-white font-semibold py-2 px-4 mb-4 rounded-md hover:bg-blue-600">Agregar Paciente</button>
        
        <!-- Lista de pacientes (carrusel) -->
        <div id="pacienteCarousel" class="relative flex justify-between overflow-x-auto">
            <!-- Aquí se agregarán dinámicamente los pacientes -->
        </div>
    </div>

    <!-- Modal para mostrar los detalles del paciente -->
    <div id="patientDetailsModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-center justify-center  min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!-- Capa de fondo del modal -->
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>

            <!-- Contenido del modal -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class=" w-full  inline-block  align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <h3 class="text-lg font-semibold mb-4 " id="modalTitle">Detalles del Paciente</h3>
                    <!-- Aquí se mostrarán los detalles del paciente -->
                    <div class="flex gap-3 w-full" >
                        <!-- Los detalles del paciente se llenarán aquí -->
                        <div class="w-2/5" id="modalContent"></div>
                        <ul class="w-3/5 pl-4 overflow-y-auto" id="sesionescontent">Sesiones</ul>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button id="closeModalBtn" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Formulario para agregar paciente (inicialmente oculto) -->
    <div id="addPatientForm" class="hidden absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-8 rounded-md shadow-md">
            <h2 class="text-2xl font-bold mb-4 text-center">Agregar Paciente</h2>
            <form id="patientForm" class="space-y-4">
                <div>
                    <label for="nombre" class="block mb-1">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div>
                    <label for="dni" class="block mb-1">DNI:</label>
                    <input type="number" id="dni" name="dni" class="w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div>
                    <label for="edad" class="block mb-1">Edad:</label>
                    <input type="number" id="edad" name="edad" class="w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div>
                    <label for="obraSocial" class="block mb-1">Obra Social:</label>
                    <input type="text" id="obraSocial" name="obraSocial" class="w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div>
                    <label for="antecedentes" class="block mb-1">Antecedentes:</label>
                    <textarea id="antecedentes" name="antecedentes" class="w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"></textarea>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="cancelBtn" class="bg-red-500 text-white font-semibold py-2 px-4 rounded-md mr-2 hover:bg-red-600">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600">Agregar</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Modal para agregar sesión (inicialmente oculto) -->
<div id="addSessionModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!-- Capa de fondo del modal -->
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- Contenido del modal -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <h3 class="text-lg font-semibold mb-4">Agregar Sesión</h3>
                <textarea id="sesionTextarea" class="w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Ingrese los detalles de la sesión..."></textarea>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button id="guardarSesionBtn" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">Guardar</button>
                <button id="cancelarBtn" type="button" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">Cancelar</button>
            </div>
        </div>
    </div>
</div>


    <script src="../js/fono.js"></script>
</body>
</html>
