.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.patient-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#backButton {
    float: left;
}

.patient-list {
    max-height: 400px;
    overflow-y: auto;
}
